<!DOCTYPE html>
<html ng-app="EventCalendar">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link type="text/css" rel="stylesheet" href="resources/css/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="resources/css/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="resources/js/lib/ng-table/ng-table.min.css" />
    <link type="text/css" rel="stylesheet" href="resources/js/lib/loading-bar.min.css" />
    <link type="text/css" rel="stylesheet" href="resources/css/app.css" /> 

    <title>Kalendarz wydarzeń - rejestracja</title>
</head>

<body>

<div class="userList container col-md-3">
<form name="addUser_form" method="POST" action="register" class="form-horizontal input-border" novalidate>
 
    						<div ng-hide="hideMessage" ng-class="messageStyle">
				                   {{message}}     
				   			</div>
 					<div class="form-group">
						<div class="col-sm-12">
    						<input
    								class="form-control" 
    								type="text" 
            						placeholder="Imię" 
            						name="forename" 
            						required />

						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
    						<input
    								class="form-control" 
    								type="text" 
            						placeholder="Nazwisko" 
            						name="surname" 
            						required />
            
						</div>
					</div>
											 
<button type="submit" class="btn btn-success btn-sm" ng-disabled="addUser_form.$invalid">Zarejestruj się</button>
</form>
</div>

	
	<!-- jQuery -->
    <script src="resources/js/lib/jquery/jquery-2.1.1.min.js"></script>
    
    <!-- lodash -->
    <script src="resources/js/lib/lodash/lodash.min.js"></script>   
    
    <!-- AngularJS -->
	<script src="resources/js/lib/angularjs/angular.js"></script>
	<script src="resources/js/lib/angularjs/angular-locale_pl-pl.js"></script>
	<script src="resources/js/lib/angularjs/restangular.min.js"></script>
	<script src="resources/js/lib/loading-bar.min.js"></script>
	
	<!-- UI-Boostrap -->
	<script src="resources/js/lib/ui-bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
	
	<!-- Angular-Strap -->
	<script src="resources/js/lib/angular-strap/angular-strap.min.js"></script>
	<script src="resources/js/lib/angular-strap/angular-strap.tpl.min.js"></script>
	
	<!-- ng-table -->
	<script src="resources/js/lib/ng-table/ng-table.min.js"></script>
	
	<!-- Angular - główne skrypty -->
	<script src="resources/js/modules/App.js"></script>
</body>
</html>